.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  .logo {
    height: 200px;
  }
}

.loginSection {
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: space-between;
  margin-top: 3rem;
  width: 80%;
}


.userInput {
  display: flex;
  height: 3.2rem;
  justify-content: flex-end;

  input {
    border-radius: 10px;
    color: var(--paragraph);
    font-size: 1.3rem;
    padding: 1.5rem;
    width: 100%;

    &::placeholder {
      color: #535353;
      opacity: 0.5;
    }
  }
}
