body {
  background-color: rgb(253, 251, 251);
  font-family: 'Montserrat', sans-serif;
}
#cabecalho {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(155, 93, 229);
  width: 100%;
}
#titulo {
  color: rgb(254, 228, 64);
  text-align: center;
}
#minha_foto {
  margin-top: 80px;
  border-radius: 50%;
}