* {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding: 30px;
  background-color: #264653;
  width: 100%;
  color: #e9c46a;
  text-align: center;
}

main {
  font-size: 22px;
  width: 700px;
  height: 700px;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

footer {
  padding: 30px;
  background-color: #264653;
  width: 100%;
  color: #edf6f9;
  text-align: center;
  font-size: 18px;
}

footer span a {
  text-decoration: none;
  color: #e9c46a;
}

.rgb-container {
  background-color: #edf6f9;
  border-radius: 10px;
  padding: 20px;
  font-weight: 700;
}

.score-container {
  background-color: #edf6f9;
  border-radius: 10px;
  color: #e76f51;
  padding: 20px;
  margin: 10px 0;
}

.balls-container {
  display: flex;
  margin-top: 15px;
}

.ball {
  border-radius: 50%;
  height: 80px;
  margin: 0 8px;
  width: 80px;
}

.answer-container {
  margin: 30px 0;
}

#reset-game {
  background-color: #2a9d8f;
  color: #edf6f9;
  border-radius: 10px;
  font-size: 25px;
  padding: 10px;
}

