.button {
  align-items: center;
  background-color: var(--primary);
  border-radius: 10px;
  box-shadow: 0 5px 10px var(--border);
  display: flex;
  font-size: 1.3rem;
  font-weight: 700;
  justify-content: center;
  padding: 1rem;
  transition: 0.5s;

  span {
    margin-right: 10px;
  }

  &:hover {
    opacity: 0.7;
  }
}
