:root {

  --main: #f2f7f5;

  --primary: #faae2b;

  --secondary: #ffa8ba;

  --header: #00473e;

  --paragraph: #475d5b;

  --border: #00332c;

  --aside: #fa5246;
}

* {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  background: var(--main);
  font-family: sans-serif;
  font-size: 14px;
}

p {
  color: var(--paragraph);
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

input, textarea, select, button {
  border: 1px solid var(--border);
  outline: none;
}

button {
  color: var(--header);
  cursor: pointer;

  &:disabled {
    background-color: grey;
    cursor: not-allowed;
    opacity: 0.6;
  }
}

header {
  background-color: #e1e1e1;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  width: 100%;
}

#search-container {
  input {
    height: 25px;
    border-radius: 8px;
    background: #fefefe;
    width: 99%;
    margin: 5px;
  }

  button {
    height: 25px;
    border-radius: 8px;
    font-weight: 500;
    background: #835afd;
    color: #FFF;
    padding: 0 32px;
  }
  section {
    display: flex;
    align-items: center;
    justify-content: space-around;

    label {
      align-items: center;
    }
  }
}
