.shareButton {
  background-color: transparent;
  background-image: url('../../../images/shareIcon.svg');
  background-size: cover;
  height: 30px;
  margin-right: 5px;
  width: 30px;
}

.whiteHeartIcon {
  background-color: transparent;
  background-image: url('../../../images/whiteHeartIcon.svg');
  background-size: cover;
  height: 30px;
  width: 30px;
}

.blackHeartIcon {
  background-color: transparent;
  background-image: url('../../../images/blackHeartIcon.svg');
  background-size: cover;
  height: 30px;
  width: 30px;
}
