* {
  margin: 0;
  padding: 0;
}

#meme-image {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 0;
}

#meme-text {
  bottom: 50px;
  color: white;
  font-size: 30px;
  position: absolute;
  text-shadow: 5px 5px 5px black;
  text-transform: uppercase;
  z-index: 1;
}

#meme-image-container {
  background-color: white;
  height: 450px;
  position: relative;
  width: 450px;
}

.border-styles {
  margin: 30px 5px;
}

.border-styles p {
  margin: 10px 5px;
}

.border-styles button {
  font-size: 16px;
  font-weight: 600;
  margin-left: 5px;
  padding: 10px;
  text-shadow: 2px 2px 2px black;
  text-transform: uppercase;
}

.default-border {
  border: 1px solid black;
}

.fire , #fire {
  border: 3px dashed red;
  color: white;
}

.water , #water {
  border: 5px double blue;
  color: white;
}

.earth , #earth {
  border: 6px groove green;
  color: white;
}

.memes-ready {
  margin: 30px 5px;
}

.memes-ready img {
  border: 1px solid black;
  height: 50px;
  margin: 10px 5px;
  width: 50px;
}
